body {
  width: 100%;
  background-color: #f2f2f2;
}

/*  nav bar  */
.row {
  width: 100%;
  margin: 0;
  padding: 0;
}
.row .col-md-12 ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.row .col-md-12 li {
  float: left;
}

.row .col-md-12 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.row .col-md-12 li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

/*  formulaire  */
.inputbox input {
  width: 200px;
}
.form form {
  width: 100%;
  margin: 10px;
}

/*  footer  */
.footer {
  text-align: center;
  width: 100%;
  height: 50px;
  background: #a6a6a6;
  color: white;
}
.footer p {
  font-style: normal;
  font-size: 15px;
}